* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 208, 196);
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: darkblue;
  text-align: center;
  padding: 20px;
}

.paragraph {
  padding: 20px;
  font-size: 14px;
}

.btn-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid black;
  margin-top: 20px;
}
